---
name: Build and Publish

"on":
  push:
    branches:
      - "**"
    tags:
      - "v*.*"
      - "v*.*-*.*.*"    # v7.2-19.2.3
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Containerfile

  yamllint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run yamllint
        uses: bewuethr/yamllint-action@v1

  oci_image:
    name: Build OCI Image
    if: github.repository == 'lsst-it/nfs-ganesha-image'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr

            # "version" tag:
            # v7.2                -> 7.2
            # v7.2.0              -> 7.2.0
            # v7.2-19.2.3         -> 7.2-19.2.3
            # v7.2.0-19.2.3       -> 7.2.0-19.2.3
            type=match,pattern=^v(\d+\.\d+(?:\.\d+)?(?:-\d+\.\d+\.\d+)?)$,group=1

            # "major.minor" tag (ignores optional patch and optional suffix):
            # v7.2                -> 7.2
            # v7.2.0              -> 7.2
            # v7.2-19.2.3         -> 7.2
            # v7.2.0-19.2.3       -> 7.2
            type=match,pattern=^v(\d+\.\d+)(?:\.\d+)?(?:-\d+\.\d+\.\d+)?$,group=1

            # "major" tag:
            # any of the above -> 7
            type=match,pattern=^v(\d+)(?:\..*)?$,group=1

            type=sha

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Containerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
